body {
    /*background-color: white;*/
}

nav {
    position: fixed;
    background-color: white;
    min-height: 67px;
    z-index: 100000;

    .header {
        width: fit-content;
    }
}

nav {
    & a {
        @media (max-width: 768px) {
            font-size: 0.8em;
        }
    }

    #navigation-buttons li {
        padding: 5px 5px;
    }
}

nav ul {
    flex-wrap: wrap;

}

main.container {
    top: 67px;
    position: relative;
}

hr {
    margin: 40px 0;
}

.icon {
    height: 19px;
    position: relative;
    top: -2px;
    border-radius: 4px;

    @media (max-width: 768px) {
        height: .8em;
    }
}

#facebook-iframe {
    max-width: 700px;
    margin: 0 auto;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center

}

#whatsapp img {
    max-width: 200px;
    border-radius: 5%;

    &:hover {
        filter: brightness(0.8);
        border: 1px solid #000;
    }
}

#musicishot {
    .poster {
        max-width: 400px;
        margin: auto;
        text-align: center;
        display: block;
    }

    .band-image {
        width: 50%;
        max-width: 300px;
        margin: auto;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    & p {
        margin: auto;
        margin-bottom: 2px;
        max-width: 500px;
    }

    & h5 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }

}